<html>
  <head>
    <title>Pabrik Pintar</title>
    <meta http-equiv="refresh" content="3">
    
    <style>
        .image-container {
          float: right;
          margin-left: 10px;
          margin-bottom: 10px;
        }
        
        .image-container img {
          display: block;
          margin-bottom: 10px;
        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.22.2/moment.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <h1>Sistem Pabrik Pintar</h1>
    <h2>Nathanael Hansen - 202000424</h2>
    <h2>Scroll sampai bawah untuk bacaan sensor</h2>
  </head>

  <body>
    <div id="graph1" class="image-container"></div>
    <p class="image-container">{{ predict1 }}</p>
    <script>
        function rand() { 
            return "{{ predict1 }}";
        }
        const layout = {title:"World Wide Wine Production"};
        Plotly.plot('graph', [{
            y: [1,2,3].map(rand),
            mode: 'lines',
            line: {color: '#80CAF6'}
        }], layout);
        
        var cnt = 0;
        
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph1', {
            y: [[ rand() ]]
            }, [0], layout)
        
            if(cnt === 100) clearInterval(interval);
        }, 300);
    </script>
    <p class="image-container">Pembersihan:</p>

    <br style="clear:both" />
    <div id="graph2" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict2 }}</p>
    <script>
        function rand() { 
            return "{{ predict2 }}";
        }
        
        Plotly.plot('graph2', [{
            y: [1,2,3].map(rand),
            mode: 'lines',
            line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph2', {
            y: [[ rand() ]]
            }, [0])
        
            if(cnt === 100) clearInterval(interval);
        }, 300);
    </script>
    <p class="image-container">Pemotongan:</p>

    <br style="clear:both" />
    <div id="graph3" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict3 }}</p>
    <script>
        function rand() { return "{{ predict3 }}"; }
        
        Plotly.plot('graph3', [{y: [1,2,3].map(rand), mode: 'lines', 
        line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph3', {y: [[ rand() ]]}, [0])
            if(cnt === 100) clearInterval(interval);}, 300);
    </script>
    <p class="image-container">Pengemasan:</p>

    <br style="clear:both" />
    <div id="graph4" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict4 }}</p>
    <script>
        function rand() { 
            return "{{ predict4 }}";
        }
        
        Plotly.plot('graph4', [{
            y: [1,2,3].map(rand),
            mode: 'lines',
            line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph4', {
            y: [[ rand() ]]
            }, [0])
        
            if(cnt === 100) clearInterval(interval);
        }, 300);
    </script>
    <p class="image-container">Penuaian:</p>

    <br style="clear:both" />
    <div id="graph5" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict5 }}</p>
    <script>
        function rand() { 
            return "{{ predict5 }}";
        }
        
        Plotly.plot('graph5', [{
            y: [1,2,3].map(rand),
            mode: 'lines',
            line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        
        var interval = setInterval(function() {
            
            Plotly.extendTraces('grap5', {
            y: [[ rand() ]]
            }, [0])
        
            if(cnt === 100) clearInterval(interval);
        }, 300);
    </script>
    <p class="image-container">Penyiraman:</p>

    <br style="clear:both" />
    <div id="graph6" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict6 }}</p>
    <script>
        function rand() { 
            return "{{ predict6 }}";
        }
        
        Plotly.plot('graph6', [{
            y: [1,2,3].map(rand),
            mode: 'lines',
            line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph6', {
            y: [[ rand() ]]
            }, [0])
        
            if(cnt === 100) clearInterval(interval);
        }, 300);
    </script>
    <p class="image-container">Penyiangan:</p>

    <br style="clear:both" />
    <div id="graph7" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict7 }}</p>
    <script>
        function rand() { 
            return "{{ predict7 }}";
        }
        
        Plotly.plot('graph7', [{
            y: [1,2,3].map(rand),
            mode: 'lines',
            line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph7', {
            y: [[ rand() ]]
            }, [0])
        
            if(cnt === 100) clearInterval(interval);
        }, 300);
    </script>
    <p class="image-container">HVAC:</p>

    <br style="clear:both" />
    <div id="graph8" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict8 }}</p>
    <script>
        function rand() { return "{{ predict8 }}"; }
        
        Plotly.plot('graph8', [{y: [1,2,3].map(rand), mode: 'lines', 
        line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph8', {y: [[ rand() ]]}, [0])
            if(cnt === 100) clearInterval(interval);}, 300);
    </script>
    <p class="image-container">Sales:</p>

    <br style="clear:both" />
    <div id="graph9" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict9 }}</p>
    <script>
        function rand() { return "{{ predict9 }}"; }
        
        Plotly.plot('graph9', [{y: [1,2,3].map(rand), mode: 'lines', 
        line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph9', {y: [[ rand() ]]}, [0])
            if(cnt === 100) clearInterval(interval);}, 300);
    </script>
    <p class="image-container">Total:</p>

    <br style="clear:both" />
    <div id="graph10" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict10 }}</p>
    <script>
        function rand() { return "{{ predict10 }}"; }
        
        Plotly.plot('graph10', [{y: [1,2,3].map(rand), mode: 'lines', 
        line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph10', {y: [[ rand() ]]}, [0])
            if(cnt === 100) clearInterval(interval);}, 300);
    </script>
    <p class="image-container">Care:</p>

    <br style="clear:both" />
    <div id="graph11" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict11 }}</p>
    <script>
        function rand() { return "{{ predict11 }}"; }
        
        Plotly.plot('graph11', [{y: [1,2,3].map(rand), mode: 'lines', 
        line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph11', {y: [[ rand() ]]}, [0])
            if(cnt === 100) clearInterval(interval);}, 300);
    </script>
    <p class="image-container">Harvest:</p>

    <br style="clear:both" />
    <div id="graph12" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict12 }}</p>
    <script>
        function rand() { return "{{ predict12 }}"; }
        
        Plotly.plot('graph12', [{y: [1,2,3].map(rand), mode: 'lines', 
        line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph12', {y: [[ rand() ]]}, [0])
            if(cnt === 100) clearInterval(interval);}, 300);
    </script>
    <p class="image-container">Promotion:</p>

    <br style="clear:both" />
    <div id="graph13" class="image-container"></div>
    <br style="clear:both" />
    <p class="image-container">{{ predict13 }}</p>
    <script>
        function rand() { return "{{ predict13 }}"; }
        
        Plotly.plot('graph13', [{y: [1,2,3].map(rand), mode: 'lines', 
        line: {color: '#80CAF6'}
        }]);
        
        var cnt = 0;
        var interval = setInterval(function() {
            
            Plotly.extendTraces('graph13', {y: [[ rand() ]]}, [0])
            if(cnt === 100) clearInterval(interval);}, 300);
    </script>
    <p class="image-container">Profit:</p>

    <!-- <div class="image-container">
        <p>Pembersihan:</p>
        <img src="{{ alarm1 }}" alt="Image 1" width="150" height="150">
        <p>{{ predict1 }}</p>
    </div>
    <div class="image-container">
        <p>Pemotongan:</p>
        <img src="{{ alarm2 }}" alt="Image 2" width="150" height="150">
        <p>{{ predict2 }}</p>
    </div>
    <div class="image-container">
        <p>Pengemasan:</p>
        <img src="{{ alarm3 }}" alt="Image 3" width="150" height="150">
        <p>{{ predict3 }}</p>
    </div>


    <div class="image-container">
        <p>Penuaian:</p>
        <img src="{{ alarm4 }}" alt="Image 4" width="150" height="150">
        <p>{{ predict4 }}</p>
    </div>
    <div class="image-container">
        <p>Penyiraman:</p>
        <img src="{{ alarm5 }}" alt="Image 5" width="150" height="150">
        <p>{{ predict5 }}</p>
    </div>
    <div class="image-container">
        <p>Penyiangan:</p>
        <img src="{{ alarm6 }}" alt="Image 6" width="150" height="150">
        <p>{{ predict6 }}</p>
    </div>


    <div class="image-container">
        <p>HVAC:</p>
        <img src="{{ alarm7 }}" alt="Image 7" width="150" height="150">
        <p>{{ predict7 }}</p>
    </div>
    <div class="image-container">
        <p>Sales:</p>
        <img src="{{ alarm8 }}" alt="Image 8" width="150" height="150">
        <p>{{ predict8 }}</p>
    </div>
    <div class="image-container">
        <p>Total:</p>
        <img src="{{ alarm9 }}" alt="Image 9" width="150" height="150">
        <p>{{ predict9 }}</p>
    </div>
    

    <div class="image-container">
        <p>Care:</p>
        <img src="{{ alarm10 }}" alt="Image 10" width="150" height="150">
        <p>{{ predict10 }}</p>
    </div>
    <div class="image-container">
        <p>Harvest:</p>
        <img src="{{ alarm11 }}" alt="Image 11" width="150" height="150">
        <p>{{ predict11 }}</p>
    </div>
    <div class="image-container">
        <p>Promotion:</p>
        <img src="{{ alarm12 }}" alt="Image 12" width="150" height="150">
        <p>{{ predict12 }}</p>
    </div>
    <div class="image-container">
        <p>Profit:</p>
        <img src="{{ alarm13 }}" alt="Image 13" width="150" height="150">
        <p>{{ predict13 }}</p>
    </div> -->


    <div class="container">
      <h3>Sistem Smart Farm</h3>   
      <p>Monitoring Susu dan Telur</p>
      <table border="1">
            <tr>
                <th align="left">Sensor Kadar Protein (%)</th>
                <td style="width:30%" align="right">{{ susutelur_protein }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Omega 3 (mL)</th>
                <td style="width:30%" align="right">{{ susutelur_omega }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Salmonella (L)</th>
                <td style="width:30%" align="right">{{ susutelur_salmonella }}</td>
            </tr>
      </table>

      </br>
      <p>Monitoring Daging Merah</p>
      <table border="1">
          <tr>
              <th align="left">Sensor Muscle (ph)</th>
              <td style="width:30%" align="right">{{ dagingmerah_muscle }}</td>
          </tr>
          <tr>
              <th align="left">Sensor Kadar Darah (mL)</th>
              <td style="width:30%" align="right">{{ dagingmerah_darah }}</td>
          </tr>
          <tr>
              <th align="left">Sensor Gas Metana (°C)</th>
              <td style="width:30%" align="right">{{ dagingmerah_metana }}</td>
          </tr>
      </table>

      </br>
      <p>Monitoring Daging Putih</p>
      <table border="1">
          <tr>
              <th align="left">Sensor E.coli (bpm)</th>
              <td style="width:30%" align="right">{{ dagingputih_ecoli }}</td>
          </tr>
          <tr>
              <th align="left">Sensor Warna (mmHg)</th>
              <td style="width:30%" align="right">{{ dagingputih_warna }}</td>
          </tr>
          <tr>
              <th align="left">Sensor Amonia (mmHg)</th>
              <td style="width:30%" align="right">{{ dagingputih_amonia }}</td>
          </tr>
      </table>
    </div>


    <div class="container">
        <h3>Sistem Smart Plantation</h3>    
        <p>Monitoring Sumber Karbohidrat</p>
        <table border="1">
            <tr>
                <th align="left">Sensor Volume (%)</th>
                <td style="width:30%" align="right">{{ karbohidrat_volume }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Kelembaban (mL)</th>
                <td style="width:30%" align="right">{{ karbohidrat_kelembaban }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Kadar Oksigen (L)</th>
                <td style="width:30%" align="right">{{ karbohidrat_oksigen }}</td>
            </tr>
    </table>

    </br>
    <p>Monitoring Sayuran</p>
    <table border="1">
        <tr>
            <th align="left">Sensor Urea Tanah (ph)</th>
            <td style="width:30%" align="right">{{ sayuran_urea }}</td>
        </tr>
        <tr>
            <th align="left">Sensor Cahaya (mL)</th>
            <td style="width:30%" align="right">{{ sayuran_cahaya }}</td>
        </tr>
        <tr>
            <th align="left">Sensor Temperature (°C)</th>
            <td style="width:30%" align="right">{{ sayuran_temperatur }}</td>
        </tr>
    </table>

    </br>
    <p>Monitoring Buah-Buahan</p>
    <table border="1">
        <tr>
            <th align="left">Sensor Pestisida (mg)</th>
            <td style="width:30%" align="right">{{ buah_pestisida }}</td>
        </tr>
        <tr>
            <th align="left">Sensor Ukuran (mm)</th>
            <td style="width:30%" align="right">{{ buah_ukuran }}</td>
        </tr>
        <tr>
            <th align="left">Sensor Berat (Kg)</th>
            <td style="width:30%" align="right">{{ buah_berat }}</td>
        </tr>
    </table>
    </div>

    <div class="container">
        <h3>Sistem Smart Restaurant</h3>    
        <p>Monitoring Musim</p>
        <table border="1">
                <tr>
                    <th align="left">Sensor Kecepatan Angin (mph)</th>
                    <td style="width:30%" align="right">{{ musim_angin }}</td>
                </tr>
                <tr>
                    <th align="left">Sensor Kadar Listrik (mV)</th>
                    <td style="width:30%" align="right">{{ musim_listrik }}</td>
                </tr>
                <tr>
                    <th align="left">Sensor Barometer (psi)</th>
                    <td style="width:30%" align="right">{{ musim_barometer }}</td>
                </tr>
        </table>

        </br>
        <p>Monitoring Penjualan</p>
        <table border="1">
            <tr>
                <th align="left">Sensor Barcode (pcs)</th>
                <td style="width:30%" align="right">{{ penjualan_barcode }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Cashflow (Rp)</th>
                <td style="width:30%" align="right">{{ penjualan_cashflow }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Infrared (cm)</th>
                <td style="width:30%" align="right">{{ penjualan_infrared }}</td>
            </tr>
        </table>

        </br>
        <p>Monitoring Pengunjung</p>
        <table border="1">
            <tr>
                <th align="left">Sensor Ultrasonic (m)</th>
                <td style="width:30%" align="right">{{ pengunjung_ultrasonic }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Kamera (unit)</th>
                <td style="width:30%" align="right">{{ pengunjung_kamera }}</td>
            </tr>
            <tr>
                <th align="left">Sensor Lidar (cm)</th>
                <td style="width:30%" align="right">{{ pengunjung_lidar }}</td>
            </tr>
        </table>
    </div>


    <canvas id="myChart"></canvas>
    <script src="myscript.js"></script>
  </body>
</html>